html, body {
  height: 100%;
}

#footer {
  width: 100%;
}

#footer .footer_icon {
  width: 1190px;
  height: 100px;
  margin: auto;
  background-image: url(../images/footer_p1.png);
  margin-top: 63px;
  background-repeat: no-repeat;
}

#footer .app {
  width: 1190px;
  height: 98px;
  margin: auto;
  margin-top: 68px;
}

#footer .app .footer_time {
  width: 250px;
  float: right;
  border-left: 1px solid #eee;
  text-align: center;
  padding: 15px 0;
  margin-right: 50px;
}

#footer .app .footer_time .tel {
  font-size: 20px;
  color: #c7a774;
  font-weight: 800;
}

#footer .app .footer_code {
  float: left;
  padding-left: 110px;
}

#footer .app .footer_code li {
  width: 255px;
  float: left;
}

#footer .app .footer_code li img {
  width: 94px;
  height: 94px;
  float: left;
  margin-right: 12px;
}

#footer .app .footer_code li .app_txt h2 {
  font-size: 15px;
  color: #1c1c1c;
  font-weight: bold;
  margin-bottom: 3px;
}

#footer .footer_bottom {
  width: 100%;
  margin: auto;
  height: 648px;
  background: #f0f0f0;
  padding-top: 64px;
}

#footer .footer_bottom .f-bottom1 {
  width: 1190px;
  margin: auto;
  height: 227px;
  position: relative;
}

#footer .footer_bottom .f-bottom1 img {
  position: absolute;
  left: 0;
  top: 30px;
}

#footer .footer_bottom .f-bottom1 .help_part {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
  overflow: hidden;
  margin-left: 206px;
}

#footer .footer_bottom .f-bottom1 .help_part dl {
  width: 155px;
  float: left;
}

#footer .footer_bottom .f-bottom1 .help_part dl dt {
  font-weight: bold;
  color: #1c1c1c;
  font-size: 15px;
  padding-bottom: 10px;
}

#footer .footer_bottom .f-bottom1 .help_part dl dd {
  line-height: 26px;
}

#footer .footer_bottom .f-bottom1 .help_part dl dd a {
  color: #666;
  font-size: 12px;
}

#footer .footer_bottom .f-bottom2 {
  width: 1190px;
  margin: auto;
  height: 376px;
  position: relative;
}

#footer .footer_bottom .f-bottom2 .footer_icon2 {
  position: absolute;
  left: 0;
  top: 30px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt {
  color: #5e5e5e;
  text-align: center;
  padding: 5px 0 30px;
  margin-left: 295px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .member {
  overflow: hidden;
  padding-top: 25px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .member .mark {
  font-size: 11px;
  color: #666;
  float: left;
  line-height: 56px;
  display: inline-block;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .member .mark-list {
  float: left;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-align: left;
  margin-left: 15px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .member .mark-list li {
  width: 270px;
  float: left;
  line-height: 56px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .member .mark-list li img {
  width: 56px;
  height: 56px;
  margin-right: 10px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .member .mark-list li span {
  line-height: 56px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .bottom_link {
  text-align: left;
  line-height: 30px;
  padding-top: 30px;
  margin-left: -20px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .bottom_link p a {
  margin: 0 20px;
  color: #666;
  font-size: 11px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .footer_inf {
  text-align: left;
  color: #999;
  line-height: 20px;
  padding-top: 15px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .footer_inf p {
  color: #999999;
  font-size: 11px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .footer_inf p .police-icon {
  background-image: url(../images/copy_ico.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 3px;
  position: relative;
  top: 5px;
  content: "";
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .footer_inf p a {
  color: #999999;
  font-size: 11px;
}

#footer .footer_bottom .f-bottom2 .f-bottom2-txt .footer_verify {
  background-image: url(../images/outherLogo_min.png);
  width: 869px;
  height: 53px;
  background-repeat: no-repeat;
  margin-top: 20px;
}
