html, body {
  height: 100%;
}

.content {
  width: 1190px;
  margin: auto;
}

#main {
  width: 100%;
  height: auto;
}

#main .lunbo {
  width: 1190px;
  height: 400px;
  background: #ccc;
}

#main .lunbo .lunbo_left {
  width: 180px;
  height: 400px;
  background: #58c;
  float: left;
}

#main .lunbo .lunbo_main {
  width: 750px;
  height: 400px;
  background: #58bc58;
  float: left;
}

#main .lunbo .lunbo_right {
  width: 260px;
  height: 400px;
  background: #fff;
  float: left;
}

#main .lunbo .lunbo_right .doctor_box {
  position: relative;
  width: 260px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabMenu {
  line-height: 32px;
  padding-left: 13px;
  font-size: 12px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabMenu .consult_tt {
  display: inline-block;
  margin-left: 10px;
  line-height: 22px;
  color: #707070;
  cursor: pointer;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabMenu .main_active {
  border-bottom: 1px solid red;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox {
  width: 260px;
  height: 133px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox #xuanxianka {
  padding-left: 23px;
  padding-bottom: 8px;
  overflow: hidden;
  font-size: 13px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox #xuanxianka .consult_text {
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: none;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox #xuanxianka .consult_text a:hover {
  color: red;
  text-decoration: underline;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox #xuanxianka .consult_text a {
  width: 72px;
  display: inline-block;
  float: left;
  height: 25px;
  line-height: 25px;
  color: #707070;
  font-size: 12px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox #xuanxianka .consult_text a .arrow_ico {
  display: inline-block;
  background: url(../images/main_just_index.png) no-repeat;
  background-position: -15px -452px;
  width: 6px;
  height: 10px;
  margin-left: 5px;
  position: relative;
  top: 1px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_img {
  width: 233px;
  height: 50px;
  text-align: center;
  overflow: hidden;
  margin: 0 13px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_img img {
  display: inline-block;
  width: 233px;
  height: 50px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_11 {
  margin-left: 20px;
  padding-top: 10px;
  clear: both;
  font-size: 12px;
  color: #000;
  font-weight: bold;
  padding-bottom: 5px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_11 ul {
  margin-top: 5px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_11 ul li {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_11 ul li .company_icon {
  width: 44px;
  height: 44px;
  border-radius: 5px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_pic {
  width: 260px;
  height: 71px;
  overflow: hidden;
  padding-left: 10px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_pic a {
  width: 60px;
  float: left;
  display: block;
  text-align: center;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_pic a .service_ico {
  background: url(../images/index_icon_gonggao.png) no-repeat;
  display: inline-block;
  width: 37px;
  height: 37px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_pic a .service_zheng {
  background-position: -42px -44px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_pic a .service_shou {
  background-position: -100px -44px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_pic a .service_jian {
  background-position: -156px -44px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_pic a .service_mian {
  background-position: -214px -44px;
}

#main .lunbo .lunbo_right .doctor_box .consult_div .consult_tabBox .consult_pic a span {
  display: block;
  color: #333;
  font-size: 12px;
}

#main .timeToBuy {
  margin-top: 10px;
}

#main .main_banner {
  margin-top: 10px;
}

#main .part1 {
  border-top: 2px solid #92c4ff;
  width: 1190px;
  height: 485px;
  margin-top: 30px;
}

#main .part1 .part1_l {
  float: left;
  width: 180px;
}

#main .part1 .part1_l .part1_l_title {
  color: #fff;
  background: #92c4ff;
  padding-left: 20px;
  height: 85px;
  line-height: 85px;
  font-size: 20px;
}

#main .part1 .part1_l .yanse2 {
  background: lightsalmon;
}

#main .part1 .part1_l .yanse3 {
  background: lightgreen;
}

#main .part1 .part1_l ul li {
  float: left;
  width: 89px;
  height: 49px;
  border: 1px solid #F3F3F3;
  border-left: none;
  border-top: none;
  text-align: center;
  line-height: 49px;
  font-size: 14px;
  color: #5e5e5e;
  font-size: 12px;
}

#main .part1 .part1_l ul li a:hover {
  color: red;
  text-decoration: underline;
}

#main .part1 .part1_l ul li a {
  color: #5e5e5e;
}

#main .part1 .part1_r {
  width: 1009px;
  height: 485px;
  float: right;
}

#main .part1 .part1_r .part1_r_top {
  width: 1009px;
  height: 284px;
}

#main .part1 .part1_r .part1_r_top .a1 {
  display: inline-block;
  height: 284px;
  float: left;
  width: 605px;
}

#main .part1 .part1_r .part1_r_top .a1 img {
  display: inline-block;
  width: 605px;
  height: 284px;
}

#main .part1 .part1_r .part1_r_top .a2:hover {
  opacity: 0.8;
}

#main .part1 .part1_r .part1_r_top .a2 {
  display: inline-block;
  height: 284px;
  float: left;
  width: 201px;
}

#main .part1 .part1_r .part1_r_top .a2 img {
  display: inline-block;
  width: 201px;
  height: 284px;
}

#main .part1 .part1_r .part1_r_top .a3:hover {
  opacity: 0.8;
}

#main .part1 .part1_r .part1_r_top .a3 {
  display: inline-block;
  height: 284px;
  float: left;
  width: 201px;
}

#main .part1 .part1_r .part1_r_top .a3 img {
  display: inline-block;
  width: 201px;
  height: 284px;
}

#main .part1 .part1_r .part1_r_bottom {
  width: 1009px;
  height: 201px;
}

#main .part1 .part1_r .part1_r_bottom .a1:hover {
  opacity: 0.8;
}

#main .part1 .part1_r .part1_r_bottom .a2:hover {
  opacity: 0.8;
}

#main .part1 .part1_r .part1_r_bottom .a3:hover {
  opacity: 0.8;
}

#main .part1 .part1_r .part1_r_bottom .a4:hover {
  opacity: 0.8;
}

#main .part1 .part1_r .part1_r_bottom .a5:hover {
  opacity: 0.8;
}

#main .part1 .part1_r .part1_r_bottom .a1,
#main .part1 .part1_r .part1_r_bottom .a2,
#main .part1 .part1_r .part1_r_bottom .a3,
#main .part1 .part1_r .part1_r_bottom .a4,
#main .part1 .part1_r .part1_r_bottom .a5 {
  display: inline-block;
  height: 200px;
  float: left;
  width: 201px;
}

#main .part1 .part1_r .part1_r_bottom .a1 img,
#main .part1 .part1_r .part1_r_bottom .a2 img,
#main .part1 .part1_r .part1_r_bottom .a3 img,
#main .part1 .part1_r .part1_r_bottom .a4 img,
#main .part1 .part1_r .part1_r_bottom .a5 img {
  display: inline-block;
  height: 200px;
  width: 201px;
}

#tiaolou {
  position: fixed;
  top: 200px;
  left: 25px;
  background: #fff;
  display: none;
}

#tiaolou ul li {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  width: 48px;
  border: 1px solid #E6E6E6;
  border-bottom: none;
  background-color: #fff;
}

#tiaolou ul li a {
  font-size: 12px;
  color: #5E5E5E;
}

#tiaolou ul .active {
  background: #58c;
}
