@charset "UTF-8";
html, body {
  height: 100%;
}

.contain {
  width: 990px;
  margin: auto;
}

#head .erji:hover {
  display: block;
}

#head .erji {
  display: none;
}

#main {
  width: 100%;
  height: 100%;
}

#main .wrap {
  width: 100%;
  height: 44px;
}

#main .wrap .nav {
  width: 100%;
  height: 100%;
}

#main .wrap .nav span img {
  margin-bottom: 4px;
}

#main .wrap .nav span a {
  color: #333;
  font-size: 12px;
}

#main .wrap .nav .arrow {
  font-family: "宋体";
  margin: 0 8px;
  padding-left: 0;
}

#main .con1 {
  width: 100%;
  height: 600px;
}

#main .con1 #picture {
  width: 298px;
  height: 298px;
  margin-right: 18px;
  float: left;
}

#main .con1 .text {
  float: left;
  width: 465px;
  height: 300px;
}

#main .con1 .text .detail_self {
  float: left;
  margin-right: 6px;
  margin-top: 2px;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  width: 39px;
  height: 21px;
  color: #0193e8;
  border: 1px solid #0193e8;
}

#main .con1 .text h1 {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'microsoft yahei';
  color: #5E5E5E;
}

#main .con1 .text .red {
  color: #e54948;
  font-size: 12px;
}

#main .con1 .text .inf {
  width: 465px;
  height: 192px;
}

#main .con1 .text .inf p {
  display: inline-block;
  margin-left: 13px;
  margin-right: 89px;
}

#main .con1 .text .inf p span {
  display: inline-block;
}

#main .con1 .text .inf p .span1,
#main .con1 .text .inf p .span3 {
  font: 12px tahoma,arial,"Microsoft Yahei",\5b8b\4f53;
  color: #5E5E5E;
}

#main .con1 .text .inf p .span2 {
  color: #e72418;
  line-height: 22px;
  padding-top: 6px;
  padding-right: 6px;
  font-size: 24px;
}

#main .con1 .text .inf p .span4:hover {
  color: #e72418;
  text-decoration: underline;
}

#main .con1 .text .inf p .span4 {
  line-height: 22px;
  padding-top: 6px;
  padding-right: 6px;
  font-size: 18px;
  color: #505050;
  cursor: pointer;
}

#main .con1 .text .inf .guige {
  width: 465px;
  height: 43px;
  margin-bottom: 15px;
  margin-left: 16px;
  margin-top: 15px;
}

#main .con1 .text .inf .guige span {
  width: 45px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  color: #5e5e5e;
  border: 1px solid #e6e6e6;
}

#main .con1 .text .inf .guige .span1 {
  border: none;
}

#main .con1 .text .inf .choose {
  width: 465px;
  height: 184px;
  margin-left: 16px;
}

#main .con1 .text .inf .choose .span1 {
  width: 45px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  color: #5e5e5e;
  border: 1px solid #e6e6e6;
  border: none;
}

#main .con1 .text .inf .choose .span2 {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #fff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

#main .con1 .text .inf .choose .span3 {
  display: inline-block;
  width: 70px;
  height: 30px;
  background-color: #f8f8f8;
  color: #5e5e5e;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  margin-left: -5px;
}

#main .con1 .erCode {
  float: right;
  width: 189px;
  border: 1px solid #e6e6e6;
}

#main .con1 .erCode .h3blue {
  padding: 9px 13px;
  line-height: 1.5;
  background-color: #0083ce;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin: -1px -1px 0;
}

#main .con1 .erCode .h3blue span {
  font-weight: 800;
}

#main .con1 .erCode .h3blue a {
  color: #fff;
  font-size: 12px;
}

#main .con1 .erCode .fixed_property {
  width: 189px;
  height: 162px;
}

#main .con1 .erCode .fixed_property .erweima {
  padding: 13px 10px;
  overflow: hidden;
  zoom: 1;
}

#main .con1 .erCode .fixed_property .erweima .d_app {
  text-align: center;
  font-weight: 700;
}

#main .con1 .erCode .fixed_property .erweima .d_app a {
  color: #333;
  font-size: 12px;
}

#main .con1 .erCode .fixed_property .erweima .erwei_img {
  text-align: center;
}

#main .detail {
  width: 100%;
}

#main .detail .detail_left {
  float: left;
  width: 180px;
}

#main .detail .detail_left .info_box {
  border: 1px solid #e6e6e6;
  color: #5e5e5e;
  line-height: 1.5;
  margin-bottom: 10px;
}

#main .detail .detail_left .info_box h2 {
  background-color: #f7f7f7;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 9px 9px;
  border-bottom: 1px solid #e6e6e6;
}

#main .detail .detail_left .info_box .info_list01 {
  padding: 10px 0 20px;
}

#main .detail .detail_left .info_box .info_list01 li {
  float: left;
  padding: 7px 0 0 9px;
  width: 80px;
  height: 20px;
  overflow: hidden;
  zoom: 1;
}

#main .detail .detail_left .info_box .info_list01 li a:hover {
  color: red;
  text-decoration: underline;
}

#main .detail .detail_left .info_box .info_list01 li a {
  font-size: 12px;
  color: #333;
}

#main .detail .detail_left .info_box .recommend_ul {
  padding-bottom: 10px;
  overflow: hidden;
  margin-left: 15px;
}

#main .detail .detail_left .info_box .recommend_ul li {
  width: 145px;
  margin-top: 8px;
}

#main .detail .detail_left .info_box .recommend_ul li a img {
  display: inline-block;
  width: 145px;
  height: 145px;
  margin-bottom: 8px;
}

#main .detail .detail_left .info_box .recommend_ul li a .intro {
  text-align: left;
  margin-bottom: 5px;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
  font-size: 12px;
  color: #333;
}

#main .detail .detail_left .info_box .recommend_ul li .price_part {
  font-size: 14px;
  font-weight: bold;
  color: #d00;
}

#main .detail .detail_left .left_ad a {
  display: inline-block;
  margin-bottom: 10px;
}

#main .detail .detail_right {
  float: right;
  width: 790px;
}

#main .detail .detail_right #detialMenu {
  margin-bottom: 10px;
}

#main .detail .detail_right #detialMenu .detail_menu {
  border: 1px solid #e6e6e6;
  border-top: 2px solid #0083ce;
  background-color: #f7f7f7;
  width: 788px;
  zoom: 1;
}

#main .detail .detail_right #detialMenu .detail_menu ul {
  font-size: 14px;
  float: left;
}

#main .detail .detail_right #detialMenu .detail_menu ul li {
  float: left;
}

#main .detail .detail_right #detialMenu .detail_menu ul li a:hover {
  color: #0083ce;
  font-weight: 700;
  text-decoration: none;
}

#main .detail .detail_right #detialMenu .detail_menu ul li a {
  color: #5e5e5e;
  display: block;
  width: 119px;
  text-align: center;
  line-height: 37px;
  height: 37px;
  zoom: 1;
}

#main .detail .detail_right #detialMenu .detail_menu ul .on a {
  color: #0083ce;
  font-weight: 700;
  text-decoration: none;
  background: #fff;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: 118px;
  height: 38px;
  margin: 0 0 -1px -1px;
  position: relative;
}

#main .detail .detail_right #detialMenu .fix {
  position: fixed;
  top: 0;
}

#main .detail .detail_right #detialMenu .bp1 {
  margin-top: 10px;
  width: 790px;
  height: 1680px;
  background-image: url(../images/xiangqingbp1.png);
}

#main .detail .detail_right #detialMenu .liuyan {
  width: 790px;
  height: 41px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: -1px;
  margin-top: 5px;
}

#main .detail .detail_right #detialMenu .liuyan .eval_tab {
  width: 790px;
  height: 41px;
}

#main .detail .detail_right #detialMenu .liuyan .eval_tab li {
  float: left;
  line-height: 1.5;
}

#main .detail .detail_right #detialMenu .liuyan .eval_tab li a {
  display: block;
  width: 110px;
  text-align: center;
  color: #5e5e5e;
  font-size: 14px;
  padding: 10px 0;
}

#main .detail .detail_right #detialMenu .liuyan .eval_tab li label {
  font-size: 12px;
}

#main .detail .detail_right #detialMenu .liuyan .neiyong {
  width: 790px;
  height: 102px;
}

#main .detail .detail_right #detialMenu .liuyan .neiyong .pageNavi {
  clear: both;
  margin-top: 40px;
  text-align: center;
}

#main .detail .detail_right #detialMenu .liuyan .neiyong .pageNavi .view_no_result {
  padding: 30px 0;
  text-align: center;
}

#main .detail .detail_right #detialMenu .liuyan .neiyong .pageNavi .view_no_result span {
  display: inline-block;
  line-height: 42px;
  font-size: 14px;
  color: #666;
}

#main .detail .detail_right #detialMenu .liuyan .neiyong .pageNavi .view_no_result span i {
  background: url(../images/xiangqing_message_icon.png) no-repeat 0 0;
  width: 45px;
  height: 42px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

#main .detail .detail_right #detialMenu .liuyan .shuru {
  width: 790px;
  height: 260px;
}

#main .detail .detail_right #detialMenu .liuyan .shuru .tips_box {
  width: 790px;
  height: 260px;
}

#main .detail .detail_right #detialMenu .liuyan .shuru .tips_box textarea {
  width: 768px;
  height: 50px;
  border: 1px solid #e6e6e6;
  padding: 10px;
  background: 0 0;
  margin-bottom: 15px;
  resize: none;
  overflow-y: scroll;
}

#main .detail .detail_right #detialMenu .liuyan .shuru .tips_box .com_btn {
  display: block;
  width: 133px;
  margin: 0 auto;
  background-color: #e72418;
  color: #fff;
  padding: 5px 0 7px;
  font-size: 14px;
  text-align: center;
  float: right;
}
